<section class="container pt-12 mx-auto">
  <div class="sm:flex sm:items-center sm:justify-between">
    <h1 class="text-2xl font-medium text-gray-800 dark:text-white">Reports</h1>

    <div class="flex items-center gap-x-3">
      <%= link_to "Jobs", "/good-job", class: "w-1/2 px-5 py-2 text-sm text-gray-800 transition-colors duration-200 bg-white border rounded-lg sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-white dark:border-gray-700" %>
      <%= link_to "New Report", new_report_path, class: "w-1/2 px-5 py-2 text-sm text-white transition-colors duration-200 bg-blue-500 border rounded-lg sm:w-auto hover:bg-blue-400" %>
    </div>
  </div>

  <%= render "layouts/breadcrumbs", breadcrumbs: [] %>

  <div class="flex flex-col mt-6 overflow-x-auto">
    <div class="inline-block min-w-full py-2 align-middle">
      <div class="overflow-x-auto border border-gray-200 dark:border-gray-700 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead class="bg-gray-50 dark:bg-gray-800">
            <tr>
              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">ID</th>
              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Name</th>
              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">URI</th>
              <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 dark:text-gray-400">Actions</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700 dark:bg-gray-900">
            <% @reports.find_each do |report| %>
              <tr>
                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                  <h2 class="font-medium text-gray-800 dark:text-white"><%= report.id %></h2>
                </td>
                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                  <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                    <%= report.name %>
                  </div>
                  <h4 class="text-xs text-gray-700 dark:text-gray-200 mt-2"><%= l report.created_at, format: :long %></h4>
                </td>
                <td class="px-4 py-4 text-sm font-medium whitespace-nowrap">
                  <div class="inline px-3 py-1 text-sm font-normal rounded-full text-emerald-500 gap-x-2 bg-emerald-100/60 dark:bg-gray-800">
                    <%= report.uri %>
                  </div>
                </td>
                <td class="px-4 py-4 text-sm whitespace-nowrap">
                  <button class="w-1/2 px-5 py-2 text-sm text-gray-800 transition-colors duration-200 bg-white border rounded-lg sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-white dark:border-gray-700">
                    <%= link_to "Detections (#{report.detections.unresolved.count})", report_detections_path(report) %>
                  </button>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
